{% extends 'layout.html.twig' %}

{% block content %}
 <!doctype html>
 <html>
   <head>
  <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="oups.css">
   </head>
   <body>
    <div>
    <section>
</section>
    </div>
    <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle" data-src="https://cdn.pixabay.com/photo/2016/11/29/13/37/christmas-1869902_1280.jpg" uk-img>
  <h1>OUPS</h1>
</div>
</section>
</body></html>
{% endblock %}
