{% extends 'layout.html.twig' %}

{% block content %}
<section class="section_accueil">
<div class="div_background">
<img src="assets/images/background-buildings-2.jpg" class="background-image_accueil">
</div>
<div class="letter-image">
  <div class="animated-mail">
    <div class="back-fold"></div>
    <div class="letter">
      <div class="letter-border"></div>
      <div class="letter-title"></div>
      <div class="letter-context"></div>
      <div class="letter-stamp">
        <div class="letter-stamp-inner"></div>
      </div>
    </div>
    <div class="top-fold"></div>
    <div class="body"></div>
    <div class="left-fold"></div>
  </div>
  <div class="shadow"></div>
</div>
<div class="div_accueil">
<h2 class="titre_oups">Oups...</h2>
<p class="texte_accueil">Désolé ma petite la poste a perdu ta lettre, retente l'année prochaine !</p>
<img src="assets/images/logo-la-poste.jpg" class="uk-align-center">
</div>

<div class="allo-pere-noel_oups uk-align-center">
<img class="uk-align-center" src="assets/images/3630.png">
<p class="annotation_accueil">3630 3630 allô Père Nöel, appels surtaxés taux journalier de Yavuz / minute</p>
</div>
</section>
{% endblock %}