{% extends 'layout.html.twig' %}

{% block content %}
 <section class="uk-height-large uk-flex-center uk-flex-middle"> <img src="assets\images\christmas-1869902_1920.jpg" uk-img >
</section>
<div><h1>OUPS<br><br><br> La poste as perdu ton courrier</h1><br></div>
<div class="letter-image">
  <div class="animated-mail">
    <div class="back-fold"></div>
    <div class="letter">
      <div class="letter-border"></div>
      <div class="letter-title"></div>
      <div class="letter-context"></div>
      <div class="letter-stamp">
        <div class="letter-stamp-inner"></div>
      </div>
    </div>
    <div class="top-fold"></div>
    <div class="body"></div>
    <div class="left-fold"></div>
  </div>
  <div class="shadow"></div>
</div>
{% endblock %}