.titre_accueil {
    font-family: var(--primary-font);
    font-size: var(--h2-size);
    color: #c89932;
    text-align: center;
}

.lettre {
    background-repeat: no-repeat;
    background-position: 50% 10%;
    height: 1080px;
    width: 100%;
    position: relative;
}

.formulairelettre {
    width: 33%;
    position: absolute;
    bottom: 0vh;
    margin-left: 35vw;
    display: flex;
}

.formulairelabel {
    font-family: var(--letter-font);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

label {
    margin-bottom: 20px;

}

.formulaireinput {
    display: flex;
    flex-direction: column;
}

.formulaireinput input {
    background-color: transparent;
    height: 1.75rem;
    border: 0px;
    width: 80%;
    margin-bottom: 25px;
}

input:focus {
    background-color: transparent;
    border: 0px;
    outline: none;
}

textarea {
    background-color: transparent;
    resize: none;
    border: none;
}


button {
    position: relative;
    background-color: transparent;
    border: 0;
}

.formulairebutton {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 75%;
    margin-top: 80vh;
}