section{
    background-image:"assets\images\christmas-1869902_1920.jpg";
   background-size:cover;
   height: 100%;
   width: 100%;
   border-color: red;
   background-repeat:x y;
   justify-content: center;
}
h1{
   padding: 50px;;
    background-color: rgb(151, 27, 27);
    text-align: center;
}
