body{
    background-image:"C:\Users\sajid\hackathon-1\public\assets\images\christmas-1869902_1920.jpg";
   background-image:auto;
   height: 100%;
   width: 100%;
   border: 100px;
   border-color: red;

}

h1{
    align-content: center;
    display: contents;


}
