.container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2rem;
}

.question {
    font-size: var(--button-size);
    font-weight: 600;
    color: var(--text-muted-color);
    text-align: center;

}

.choices {
    list-style: none;
    padding: 2rem;
    margin: 5rem;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: left;
}

.input_radio {
    margin-bottom: 15px;
    padding-right: 25px;
}

.choice {
    margin: 20px;
}

.choice input {
    margin-right: 25px;
}

.button {
    width: 100px;
    margin-left: 20px auto;
}

.result {
    font-family: var(--text-font);
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.valider-la-reponse {
    font-family: var(--text-font);
    font-weight: 500;
    background-color: var(--button-color);
    color: var(--text-color);
    font-size: var(--p-size);
    border-radius: var(--border-radius-10);
    box-shadow: 0px 5px 25px rgb(255, 0, 0, 0.3);
    padding: 0.75rem 1.75rem 0.75rem 1.75rem;
    border: 2px solid white;
    transition: 250ms;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
    margin-left: 7vw;
}

.valider-la-reponse:hover {
    font-family: var(--text-font);
    font-weight: 500;
    background-color: var(--tertiary-color);
    box-shadow: 0px 5px 25px rgba(245, 64, 130, 0.3);
    color: var(--text-color);
    font-size: var(--p-size);
    border-radius: var(--border-radius-10);
    padding: 0.75rem 1.75rem 0.75rem 1.75rem;
    border: 2px solid white;
    transition: 250ms;
    text-align: center;
    width: 50%;
    text-decoration: none;
}

.allo-pere-noel_quizz {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.annotation_quizz {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--p-size);
    font-weight: 400;
    color: rgba(255, 255, 0, 0.2);
    text-align: center;
    align-self: center;
    margin-top: -10vh;
}